/*   Fonts   */
@font-face {
  src: url("./THEROOTS.TTF");
  font-family: "The Roots";
}

.row {
  margin: 0 !important;
}

/*   Start-Screen   */
.start {
  width: 100%;
  height: 100vh;
}
.start p {
  width: 100%;
  height: 15%;
  text-align: center;
  color: rgb(192, 192, 192);
  font-family: monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-family: The Roots;
  font-size: 25px;
  margin-top: 20%;
}
.tag-name {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}
.tag-name h2 {
  color: rgb(192, 192, 192);
  font-size: 15px;
  font-family: monospace;
  margin: 0;
}
.s-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35%;
}
.s-buttons .btn {
  width: 200px;
  margin: 10px;
}
.wf {
  background-color: #fff;
  border: 1px solid black;
  box-shadow: none;
}
.cf {
  background-color: black;
  box-shadow: none;
}

/*   Side Nav   */
.sidenav, .edit-nav{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top-nav {
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width: 100vw;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
  box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
}
.sidenav-trigger {
  margin-left: 40px;
}
.sidenav img , .edit-nav{
  margin: 0 !important;
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.stats p {
  margin: 0;
  margin-left: 10px;
}
.info {
  display: flex;
  flex-direction: column;
}
.info span {
  height: 20px;
}
.photo,
.photo img {
  width: 100px;
  height: 100px;
}
.name {
  margin-top: 0px !important;
}
.top-part {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
.feather-x {
  position: absolute;
  left: -40vw;
}
.feather-more-vertical {
  position: absolute;
  left: 35vw;
}
.edit-section {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}
.edit-section p {
  margin: 0;
  margin-top: 3px;
  margin-left: 10px;
}
.bottom-part {
  margin-top: 11rem;
}
.bottom-part span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 30px;
}
.bottom-part span p {
  margin: 0;
  margin-left: 10px;
}

/*   Edit Side Nav   */
.edit-nav .user-view{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
.edit-nav .bottom-part{
  margin-top: 100px;
}
.file-field span svg{
  margin-top: 8px;
}

/*   Login form   */
.l-form h1 {
  margin-top: -5%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.l-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.l-form form {
  width: 70% !important;
  height: 50%;
  margin: auto;
}
.l-form input {
  text-align: center;
  margin: 0 !important;
}
.l-form .row {
  margin: 0 !important;
}
.l-form button {
  background-color: black;
  box-shadow: none;
  margin-top: 30px;
  width: 170px;
}
.l-form a {
  margin-top: 10px;
}
.l-form .box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 45%;
  width: 100%;
}
.l-form img {
  height: 150px;
  margin-bottom: 5px;
  stroke: 1.5;
}
.l-form h1 {
  margin: 0;
}
.l-form .inputs {
  height: 40%;
}
.l-form .box-2 {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l-form .feather-arrow-left {
  position: absolute;
  top: 30px;
  left: 30px;
}

/*   Home Screen   */
.home {
  position: relative;
  height: 100vh;
}
iframe {
  width: 100vw;
  height: 99vh;
}
.request {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 95%;
  height: 300px;
  left: 11px;
  top: 90px;
  padding: 5%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
  box-shadow: 0px 0px 5px 0px rgba(117, 117, 117, 1);
}
.request form .input-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px;
}
.request form svg {
  margin-right: 15px;
}
